<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.taxis.mapper.AuthorizeAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.cc.taxis.model.AuthorizeAttachment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="attachment_id" property="attachmentId" jdbcType="VARCHAR" />
    <result column="car_id" property="carId" jdbcType="VARCHAR" />
    <result column="license_blue_url" property="licenseBlueUrl" jdbcType="VARCHAR" />
    <result column="license_black_url" property="licenseBlackUrl" jdbcType="VARCHAR" />
    <result column="card_positive_url" property="cardPositiveUrl" jdbcType="VARCHAR" />
    <result column="card_negative_url" property="cardNegativeUrl" jdbcType="VARCHAR" />
    <result column="car_photo_url" property="carPhotoUrl" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
  </resultMap>
</mapper>