<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.taxis.mapper.BusinessOrderMapper" >
  <resultMap id="BaseResultMap" type="com.cc.taxis.model.BusinessOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="register_user_id" property="registerUserId" jdbcType="VARCHAR" />
    <result column="car_id" property="carId" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="trip_date" property="tripDate" jdbcType="DATE" />
    <result column="trip_week" property="tripWeek" jdbcType="TINYINT" />
    <result column="trip_time" property="tripTime" jdbcType="TIME" />
    <result column="trip_way" property="tripWay" jdbcType="TINYINT" />
    <result column="pay_way" property="payWay" jdbcType="TINYINT" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="region_code" property="regionCode" jdbcType="VARCHAR" />
    <result column="begin_address" property="beginAddress" jdbcType="VARCHAR" />
    <result column="end_address" property="endAddress" jdbcType="VARCHAR" />
    <result column="start_longitude" property="startLongitude" jdbcType="VARCHAR" />
    <result column="start_latitude" property="startLatitude" jdbcType="VARCHAR" />
    <result column="end_longitude" property="endLongitude" jdbcType="VARCHAR" />
    <result column="end_latitude" property="endLatitude" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
    <result column="car_brand" property="carBrand" jdbcType="VARCHAR" />
    <result column="car_colour" property="carColour" jdbcType="VARCHAR" />
    <result column="car_owner_name" property="carOwnerName" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="profit" property="profit" jdbcType="DECIMAL" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
  </resultMap>
</mapper>