<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.taxis.mapper.HireCarMapper" >
  <resultMap id="BaseResultMap" type="com.cc.taxis.model.HireCar" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="hire_car_id" property="hireCarId" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
    <result column="car_brand" property="carBrand" jdbcType="VARCHAR" />
    <result column="seat_number" property="seatNumber" jdbcType="TINYINT" />
    <result column="drive_way" property="driveWay" jdbcType="TINYINT" />
    <result column="car_img" property="carImg" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
  </resultMap>
</mapper>